
.ak-page__sub-menu-row {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-end;

    width: 16%;
    padding-left: var(--ak-main-spacing);
    line-height: 1;

    @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: flex-start;
        padding-left: 0;

        .woocommerce-MyAccount-navigation-link{
            text-align: left;
        }
    }

    .menu,
    .woocommerce-MyAccount-navigation > ul {
        display: inline-block;
        align-content: center;
        align-items: center;
        text-align: end;

        .menu-item,
        .menu-item a,
        .woocommerce-MyAccount-navigation-link,
        .woocommerce-MyAccount-navigation-link a {
            cursor: pointer;

            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            

            @include media-breakpoint-down(sm) {
               font-size: 20px;
            }

            &.current-menu-parent,
            &.current-menu-item,
            &.is-active {
                font-family: "Din Pro Bold";
            }
        }
    }
}


.woocommerce-MyAccount-navigation{
    padding: 43px 0px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 25px;;
    }
    .woocommerce-MyAccount-navigation-link{
        &:not(:last-child){
            margin-bottom: 43px;
        }
    }
}

.woocommerce-MyAccount-navigation-link--customer-logout a{
    color: #F89D3F;
}

.flex{
    display: flex;
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column-reverse;    
    }
}

.page__content-section {
    min-height: max-content;

    .r-wrap{
        @include media-breakpoint-down(sm) {
           padding: 0;

            .ak-page__sub-menu-row{
                padding: 0 var(--ak-main-spacing);
                border-bottom: 1px solid #EAEAEA;
            }
        }
    }

    .my-account-page__content-section{
        border-right: 1px solid #EAEAEA;
        width: 84%;

        @include media-breakpoint-down(sm) {
            padding: var(--ak-main-spacing);
            width: 100%;
            border-right: none;
            padding-top: 25px;

        }

        .account-title{
            color: #128796;
            opacity: 0.56;
            font-size: 20px;
            font-family: "Din Pro Bold";
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
        .dashboard-title, .address-title{
            color: #128796;
            font-size: 36px;
            font-family: "Din Pro Bold";
            @include media-breakpoint-down(sm) {
                font-size: 28px;
                margin-bottom: 56px;
            }
        }

        .address-title,
        .order-title{
            @include media-breakpoint-down(sm) {
                margin-bottom: 19px;
            }
        }

        .order-title{
            @include media-breakpoint-down(sm) {
                padding-right: var(--ak-main-spacing);
                padding-left: var(--ak-main-spacing);
            }
        }

    }

    .myaccount__content-wrap--dashboard{
        padding-top: 43px;
        width: 70%;
        color: #128796;
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-top: 0;
            margin-bottom: 233px;
        }

        
        .dashboard-text{
            font-size: 16px;
            font-family: "Din Pro Light";
        }
    }
}

.ak-my-account__addresses, .ak-my-account__edit-account{
    .ak-my-account__address-item:last-child, .col:last-child{
        border: none;
    }
}

.ak-my-account__addresses, .ak-my-account__edit-account{

    display: flex;
    @include media-breakpoint-down(sm) {
        display: block;
        
    }

    .ak-my-account__address-item:last-child, .col:last-child{
        padding-left: var(--ak-main-spacing);
        padding-top: 35px;
       
    }
    .ak-my-account__address-item, .col{
        padding-top: 43px;
        padding-bottom: 200px;
        width: 50%;
        border-right: 1px solid #EAEAEA;
        @include media-breakpoint-down(sm) {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #EAEAEA;
            padding: 0 var(--ak-main-spacing);
        }

        .ak-my-account__address-item-title, .col-title{
            color: #148D9A;
            font-size: 16px;
            font-family: "Din Pro Light";
        }
        .my-account__flex, .col-title{
            display: flex;
            width: 60%;
            align-items: baseline;
            justify-content: space-between;

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-bottom: 27px;
            }
        }

        .form-row{
            @include media-breakpoint-down(sm) {
                margin-bottom: 46px;
                &:last-child{
                    margin-bottom: 25px;
                }

                &.pass2{
                    margin-bottom: 27px;
                }
            }
        }

        .forgot{
            font-size: 14px;
            color: #148D9A;
            font-family: 'Din Pro Light';
        }
    }

    .woocommerce-address-fields{
        .form-row{
            margin-bottom: 30px;
        }
        

        .select2-container--default{
            .select2-selection--single{
                height: 23px;
                border-bottom: none;
            }
            .select2-selection__rendered{
                padding: 0;
                font-size: 16px;
                .select2-selection__placeholder{
                    color: #148D9A;
                }
            }
        } 
        
        
    }
}

label{
    display: none;
}
input, .select2{
    border-radius: 27px;
    border: 1px solid #BCBCBC;
    padding: 16px 34px;
    width: 60%!important;  
    color: #148D9A;    
    font-family: 'Din Pro Light';
    @include media-breakpoint-down(sm) {
        width: 100%!important;
        padding: 12px 34px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 21px 34px;
        font-size: 20px;
    }
    
    &::placeholder{
        color: #148D9A;
    }

    .select2-selection__rendered{
        color: #148D9A;
    }
}
.form-submit-btn{
    background-color: #FDA757;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 10px 4px;
    cursor: pointer;

}

.select2-dropdown{
    color: #148D9A;
    .select2-search--dropdown{
        input{
            border-radius: 27px;
            border: 1px solid #BCBCBC;
            padding: 8px 17px;
            color: #148D9A;
        }
    }
    
}

.account-main-title{
    &.hidden{
        opacity: 0;
        visibility: hidden;
        @include media-breakpoint-down(sm) {
           display: none;
        }
    }
}

.woocommerce-edit-account, .woocommerce-edit-address{
    .my-account-page__content-section{
        @include media-breakpoint-down(sm) {
            padding: 25px 0 35px;
        }
    }
}


.order-slider__button-prev{
    img{
        transform: rotate(180deg);
        margin-right: 28px;
    }
}

.order-slider__button-next{
    img{
        margin-left: 28px;
        margin-bottom: 15px;
    }
}

.order-slider__button-prev, .order-slider__button-next{
    display: flex;

    color: #128796;
    font-size: 20px;
    font-family: 'Din Pro Light';

    padding-left: var(--ak-main-spacing);
    padding-right: var(--ak-main-spacing);

    @include media-breakpoint-up(sm) {
        display: none;
    }

    img{
        width: 30px;
        height: 18px;
    }
}
