.custom-select-container {
    position: relative;
    box-sizing: border-box;

    text-transform: uppercase;

    outline: none;

    &.is-disabled {
        opacity: 0.333;
    }
}

.custom-select-opener {
    display: none;
    position: relative;
    background-color: #ffffff;
    padding: 22px var(--ak-main-spacing);
    // display: block;
    cursor: pointer;
    width: 100%;

    &:after {
        content: "+";
        margin-left: 70px;

        @include media-breakpoint-down(sm) {
            position: absolute;
            right: var(--ak-main-spacing);
            margin: 0;
        }
    }
}

.custom-select-container.is-open {
    .custom-select-opener {
        &:after {
            display: none;
        }
    }
}
.custom-select-container select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.custom-select-panel {
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    top: -65px;
    left: var(--ak-main-spacing);
    z-index: 1;
    width: 100%;

    .custom-select-option{
        &:first-child{
            margin-right: 60px;
            &.is-selected{
                color: #6C6D6E;
                
            }
        }
    }
}
.custom-select-container .custom-select-panel {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    width: auto;
}
.custom-select-option {
    cursor: pointer;
    padding: 22px 0;
    font-size: 16px;
    font-family: "Din Pro Light";
    color: #6C6D6E;
    margin-right: 30px;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        padding-top: 28px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 26px!important;
     }
}


.custom-select-option.is-selected {
    color: #138796;
}

.ak-product__variations_form{
    .single_variation_wrap{
        margin-top: 50px;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
    }
}

.product-type-variable{
    .ak-product-favorite-btn{
        margin-top: 50px;
    }
}
