@font-face {
    font-family: "Din Pro Bold";
    src: url("../fonts/DIN_Pro_Bold.otf") format("opentype");

}

@font-face {
    font-family: "Din Pro Light";
    src: url("../fonts/DIN_Pro_Light.otf") format("opentype");

}

@font-face {
    font-family: "Din Pro";
    src: url("../fonts/DIN_Pro.otf") format("opentype");

}
