.information__container{
    padding: 60px;
    font-family: 'Din Pro Light';
    width: 60%;

    @include media-breakpoint-down(sm) {
        padding: 21px 37px;
    }

    &.cookies{
        .information__subtitle{
            font-family: 'Din Pro Light';
            color:#6C6D6E;
            text-transform: uppercase;
        }
    }
    .information__title{
        color:#15818b;
        margin-bottom: 35px;
        font-size: 36px;
        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }
    .information__subtitle{
        font-family: 'Din Pro Bold';
        color:#15818b;
        text-transform: uppercase;
    }
    .information__content{
        color:#707273;
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 100px;
    }

}